@model MvcKutuphane.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<form class="form-group was-validated" method="post" id="myform">
    @Html.AntiForgeryToken()
    <div>
        <div class="form-group">
            @Html.LabelFor(m => m.AD)
            @Html.TextBoxFor(m => m.AD, new { @class = "form-control", placeholder = "Kategori Adı" ,required="required"})
            @Html.ValidationMessageFor(m => m.AD)
        </div>
        <div>
            <button type="button" class="btn btn-success btnEkle">Kaydet</button>
        </div>
    </div>

</form>

@section myscript{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
 }
@*for client side validation control*@

