@using MvcKutuphane.Models.Entity
@model List<TBLPERSONEL>
@{
    ViewBag.Title = "Personeller";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<h2>Personeller</h2>
<hr />
@Html.ActionLink("Yeni Personel","PersonelEkle",null,new {@class="btn btn-dark"})
<br />
<br />
<br />
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Personel Adı</th>
            <th class="not-export-col">Güncelle</th>
            <th class="not-export-col">Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var personel in Model)
        {
        <tr>
            <td>@personel.ID</td>
            <td>@personel.PERSONEL</td>
            <td><a href="/Personel/PersonelGetir/@personel.ID" class="btn btn-secondary">Güncelle</a></td>
            <td><a data-id="@personel.ID" data-url="/Personel/PersonelSil/" class="btn btn-danger btnSil" >Sil</a></td>
        </tr>
        }
    </tbody>
</table>

