
@{
    ViewBag.Title = "Kur Bilgileri";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kur Apileri</h2>

<a class="weatherwidget-io" href="https://forecast7.com/tr/39d9332d86/ankara/" data-label_1="ANKARA" data-label_2="Hava Durumu" data-theme="original">ANKARA Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>

<script type="text/javascript" src="http://finanswebde.com/fwebdev2/js/fwidget.js"></script><div id="fwebdecurrency" style="width:400px;"><a title="Güncel Dolar,Altın ve Bitcoin Yorumları - Fiyatları" style="font-size:10;text-decoration:none;color:black" href="//finanswebde.com/">via FinansWebde</a></div>
<script type="text/javascript">_fcepte.createWidget("/eklenti/gold?codes=ons,gram-altin", 400, 160);</script>


<script type="text/javascript">
    var para_birimleri = "USD-EUR-GBP";
    var arka_plan = "FFF";
    var cerceve = "333333";
    var kutucuk = "EEE";
    var piyasa_baslik = "FFFFFF";
    var tur_baslik = "FF1717";
    var fiyat_baslik = "0A0301";
    var kutu_kose = "oval";
    var genislik = "300";
    var bankalar = "acik";
    var paylasim = "kapali";
</script>
<div style="width:300px;font-size:12px;text-align:right;"><a name="dovizekle" target="_blank" href="//altin.in">altın fiyatı</a></div>
<script type="text/javascript" charset="iso-8859-9" src="//eklenti.altin.in/doviz.js"></script>


<script type="text/javascript">
    var altin_birimleri = "GA-C-T";
    var arka_plan = "FFFFFF";
    var cerceve = "333333";
    var kutucuk = "FFFFFF";
    var piyasa_baslik = "FFFFFF";
    var tur_baslik = "999999";
    var fiyat_baslik = "CC3300";
    var kutu_kose = "oval";
    var genislik = "220";
    var baglanti = "acik";
    var paylasim = "kapali";
</script>
<div style="width:220px;font-size:12px;text-align:right;"><a name="altinin" target="_blank" href="//altin.in/fiyat/gram-altin">altın</a></div>
<script type="text/javascript" charset="iso-8859-9" src="//eklenti.altin.in/altin.js"></script>



<a name="doviz_cevirici" target="_blank" href="http://kur.altin.in/banka/vakifbank">Vakıfbank</a>
<script type="text/javascript" charset="iso-8859-9" src="//eklenti.altin.in/cvr.js?v=0.1&banka=vakifbank&fr=d2a929&g=120&b=1"></script>





<script type="text/javascript" src="http://finanswebde.com/fwebdev2/js/fwidget.js"></script><div id="fwebdeconverter" style="width:250px;"><a title="Döviz ve Altın Çevirici Eklentisi" style="font-size:10;text-decoration:none;color:black" href="//finanswebde.com/">via FinansWebde</a></div>
<script type="text/javascript">_fcepte.createConverter("currency", 250, 210);</script>